<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lanqiao.deport_manage.mapper.GoodsMapper">

    <sql id="Base">
        id,goodsName,context,number,max,min,price,username
    </sql>

    <insert id="addGoods" parameterType="Goods">
        insert into `goods`(goodsName, context, number, max, min, price, username)
        values (#{goodsName}, #{context}, #{number}, #{max}, #{min}, #{price}, #{username})
    </insert>

    <update id="updateGoods" parameterType="Goods">
        update goods
        set goodsName=#{goodsName},
            context=#{context},
            number=#{number},
            max=#{max},
            min=#{min},
            price=#{price},
            username=#{username}
        where id = #{id}
    </update>

    <delete id="deleteGoods">
        delete
        from goods
        where id = #{id}
    </delete>

    <delete id="delete">
        delete from goods where goodsName = #{goodsName} and `number` = #{number} and username = #{username}
    </delete>

    <select id="getAllGoods" resultType="Goods">
        select <include refid="Base"></include>
        from goods
    </select>

    <select id="getGoodsWithName" resultType="Goods">
        select <include refid="Base"></include>
        from goods
        where goodsName = #{goodsName}
    </select>

    <select id="getGoodsWithUsername" resultType="Goods">
        select <include refid="Base"></include>
        from goods
        where username = #{username}
    </select>

    <select id="getGoodsWithUserGoods" resultType="Goods">
        select <include refid="Base"></include>
        from goods
        where goodsName = #{goodsName}
        and username = #{username}
    </select>

    <select id="selectById" resultType="Goods">
        select <include refid="Base"></include> from goods where id = #{id}
    </select>



</mapper>