<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lanqiao.deport_manage.mapper.RecordMapper">

    <insert id="addRecord" parameterType="Record">
        insert into `record`(goodsName, username, number, type, state)
        values (#{goodsName}, #{username}, #{number}, #{type}, #{state})
    </insert>

    <sql id="Base">
        id,goodsName, username, number, type, state
    </sql>
    <update id="updateRecord" parameterType="Record">
        update record
        set goodsName=#{goodsName},
            username=#{username},
            number=#{number},
            type=#{type},
            state=#{state}
        where id = #{id}
    </update>
    <delete id="deleteRecord">
        delete
        from record
        where id = #{id}
    </delete>

    <select id="getAllRecord" resultType="Record">
        select <include refid="Base"></include>
        from record
    </select>

    <select id="getUserRecord" resultType="Record">
        select <include refid="Base"></include> from record where username=#{username}
    </select>
</mapper>